--- deps/eleveldb/rebar.config.orig	2011-10-29 09:03:35.000000000 -0400
+++ deps/eleveldb/rebar.config	2011-10-29 09:03:48.000000000 -0400
@@ -9,5 +9,5 @@
              {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/leveldb/libleveldb.a -lstdc++"}
              ]}.
 
-{pre_hooks, [{compile, "make -C c_src/leveldb"},
-             {clean, "make -C c_src/leveldb clean"}]}.
+{pre_hooks, [{compile, "gmake -C c_src/leveldb"},
+             {clean, "gmake -C c_src/leveldb clean"}]}.
